## Bitcoin Zaman Serisi Analizi

#Gerekli kütüphanelerin kurulması

In [ ]:
pip install pandas

In [ ]:
pip install numpy matplotlib seaborn plotly

In [ ]:
pip install jupyter scikit-learn statsmodels yfinance

Keşifsel veri analizi

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2700 entries, 0 to 2699
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open time                     2700 non-null   object
 1   Open                          2700 non-null   float64
 2   High                          2700 non-null   float64
 3   Low                           2700 non-null   float64
 4   Close                         2700 non-null   float64
 5   Volume                        2700 non-null   float64
 6   Close time                    2700 non-null   object
 7   Quote asset volume            2700 non-null   float64
 8   Number of trades              2700 non-null   int64
 9   Taker buy base asset volume   2700 non-null   float64
 10  Taker buy quote asset volume  2700 non-null   float64
 11  Ignore                        2700 non-null   int64
dtypes: float64(8), int64(2), object(2)
memory usage: 253.3+ KB

Dikkat Edilmesi Gerekenler
Open time ve Close time sütunları şu an object (string) tipinde, bunları datetime tipine çevirmelisin.

Ignore sütunu büyük ihtimalle işine yaramaz, ileride onu çıkarabilirsin.

In [15]:
df.describe()

,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
count,2700.000000,2700.000000,2700.000000,2700.000000,2700.000000,2.700000e+03,2.700000e+03,2700.000000,2.700000e+03,2700.0
mean,31492.678493,32178.673726,30759.397378,31523.044937,68310.697764,1.769120e+09,1.707199e+06,33955.470304,8.759912e+08,0.0
std,26077.402717,26518.747208,25621.965938,26102.825054,79894.081170,1.999387e+09,2.103979e+06,39758.699543,9.940853e+08,0.0
min,3211.710000,3276.500000,3156.260000,3211.720000,300.986860,1.177017e+07,1.241700e+04,151.876190,6.532639e+06,0.0
25%,9203.042500,9376.830000,8981.675000,9203.042500,28444.667668,3.587383e+08,3.956268e+05,14243.066352,1.813777e+08,0.0
50%,23936.645000,24549.795000,23467.925000,23947.125000,43681.327938,1.059653e+09,9.926025e+05,21811.092690,5.179676e+08,0.0
75%,46956.735000,48155.000000,45609.545000,46976.092500,71155.137407,2.487150e+09,1.893604e+06,35384.207525,1.244527e+09,0.0
max,111696.220000,111800.000000,111201.860000,111340.180000,760705.362783,1.746531e+10,1.522359e+07,374775.574085,8.783916e+09,0.0

In [16]:
df.columns

Index(['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time',
       'Quote asset volume', 'Number of trades', 'Taker buy base asset volume',
       'Taker buy quote asset volume', 'Ignore'],
      dtype='object')

In [10]:
import pandas as pd

df = pd.read_csv("data/btc_1d_data_2018_to_2025.csv")
df.head()

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,2018-01-01,13715.65,13818.55,12750.00,13380.00,8609.915844,2018-01-01 23:59:59.999,1.147997e+08,105595,3961.938946,5.280975e+07,0
1,2018-01-02,13382.16,15473.49,12890.02,14675.11,20078.092111,2018-01-02 23:59:59.999,2.797171e+08,177728,11346.326739,1.580801e+08,0
2,2018-01-03,14690.00,15307.56,14150.00,14919.51,15905.667639,2018-01-03 23:59:59.999,2.361169e+08,162787,8994.953566,1.335873e+08,0
3,2018-01-04,14919.51,15280.00,13918.04,15059.54,21329.649574,2018-01-04 23:59:59.999,3.127816e+08,170310,12680.812951,1.861168e+08,0
4,2018-01-05,15059.56,17176.24,14600.00,16960.39,23251.491125,2018-01-05 23:59:59.999,3.693220e+08,192969,13346.622293,2.118299e+08,0

In [11]:
import pandas as pd

df = pd.read_csv("data/btc_1d_data_2018_to_2025.csv")
df.tail()

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
2695,2025-05-19,106454.27,107108.62,104742.53,105140.00,3542.14220,2025-05-19 23:59:59.999,3.751447e+08,736569,1937.64636,2.053688e+08,0
2696,2025-05-20,105573.73,106789.58,105554.31,106577.64,3349.44430,2025-05-20 23:59:59.999,3.554848e+08,527844,1911.06311,2.028472e+08,0
2697,2025-05-21,106850.00,107206.94,106400.00,106400.00,1252.62742,2025-05-21 23:59:59.999,1.337861e+08,337467,518.63094,5.540490e+07,0
2698,2025-05-22,109643.99,110576.70,109177.37,109945.54,3967.13002,2025-05-22 23:59:59.999,4.361191e+08,751982,2172.88802,2.389061e+08,0
2699,2025-05-23,111696.22,111800.00,111201.86,111340.18,1702.14192,2025-05-23 23:59:59.999,1.897412e+08,373745,912.13208,1.016736e+08,0

#Veri Temizleme ve Dönüşümleri

Yapılacaklar:
Tarih sütunlarını (Open time, Close time) datetime formatına çevir.

Ignore sütununu veri setinden kaldır.

In [18]:
# 1. Tarih sütunlarını datetime yap
df['Open time'] = pd.to_datetime(df['Open time'])
df['Close time'] = pd.to_datetime(df['Close time'])

In [19]:
# 2. Ignore sütununu kaldır
df = df.drop(columns=['Ignore'])

In [21]:
df.head()

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume
0,2018-01-01,13715.65,13818.55,12750.00,13380.00,8609.915844,2018-01-01 23:59:59.999,1.147997e+08,105595,3961.938946,5.280975e+07
1,2018-01-02,13382.16,15473.49,12890.02,14675.11,20078.092111,2018-01-02 23:59:59.999,2.797171e+08,177728,11346.326739,1.580801e+08
2,2018-01-03,14690.00,15307.56,14150.00,14919.51,15905.667639,2018-01-03 23:59:59.999,2.361169e+08,162787,8994.953566,1.335873e+08
3,2018-01-04,14919.51,15280.00,13918.04,15059.54,21329.649574,2018-01-04 23:59:59.999,3.127816e+08,170310,12680.812951,1.861168e+08
4,2018-01-05,15059.56,17176.24,14600.00,16960.39,23251.491125,2018-01-05 23:59:59.999,3.693220e+08,192969,13346.622293,2.118299e+08

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2700 entries, 0 to 2699
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open time                     2700 non-null   datetime64[ns]
 1   Open                          2700 non-null   float64
 2   High                          2700 non-null   float64
 3   Low                           2700 non-null   float64
 4   Close                         2700 non-null   float64
 5   Volume                        2700 non-null   float64
 6   Close time                    2700 non-null   datetime64[ns]
 7   Quote asset volume            2700 non-null   float64
 8   Number of trades              2700 non-null   int64
 9   Taker buy base asset volume   2700 non-null   float64
 10  Taker buy quote asset volume  2700 non-null   float64
dtypes: datetime64[ns](2), float64(8), int64(1)
memory usage: 232.2 KB